@use "../global/variables";
@use "../global/mixins" as *;

.btn {
  outline: none;
  padding: 14px;
  color: variables.$color-white;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  border: none;
  background-color: variables.$color-black-russian;
  border-radius: 8px;
  cursor: pointer;

  @include vp-1023 {
    font-size: 14px;
    line-height: 20px;
    padding: 0;
  }

  @include vp-767 {
    padding: 0;
  }

  &--second {
    padding: 18px;
    font-size: 15px;
    line-height: 20px;
    background-color: variables.$color-royal-blue-1;

    @include vp-1023 {
      padding: 16px;
      font-size: 13px;
      line-height: 16px;
    }
  }

  &--second:hover {
    background-color: variables.$color-free-speech-blue;
  }

  &--second:focus-visible {
    background-color: variables.$color-free-speech-blue;
  }
   &--second:disabled {
    background-color: variables.$color-white-smoke-2;
    color:variables.$color-manatee-2 ;
   }


  &--third {
    color: variables.$color-black-russian;
    padding: 14px;
    font-size: 15px;
    line-height: 20px;
    background-color: variables.$color-white;

    @include vp-1023 {
      padding: 12px;
      font-size: 13px;
      line-height: 16px;
    }
  }

  &--third:hover {
    background-color: variables.$color-solitude-4;
  }

  &--third:focus-visible {
    background-color: variables.$color-solitude-4;
  }

    &--third:disabled {
    color: variables.$color-manatee-2;
  }

  &--fourth {
    color: variables.$color-black-russian;
    background-color: variables.$color-solitude-1;
  }

  &--fifth {
    color: variables.$color-black-russian;
    background-color: transparent;
  }

  &--fifth:hover {
    background-color: variables.$color-solitude-4;
  }

  &--fifth:focus-visible {
    background-color: variables.$color-solitude-4;
  }

  

  &--sixth {
    padding: 12px;
    font-size: 13px;
    line-height: 16px;
  }

  &--sixth:hover {
    background-color: variables.$color-blue-zodiac;
  }

  &--sixth:focus-visible {
    background-color: variables.$color-blue-zodiac;
  }

}
