@use "../global/variables";
@use "../global/mixins" as *;


.btn {
  outline: none;
  padding: 14px;
  color: variables.$color-white;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  border: none;
  background-color: variables.$color-black-russian;
  border-radius: 8px;
  cursor: pointer;

  @include vp-1023 {
    font-size: 14px;
    line-height: 20px;
  }

  &--second {
    padding: 18px;
    font-size: 15px;
    line-height: 20px;
    background-color: variables.$color-royal-blue-1;

    @include vp-1023 {
      padding: 16px;
      font-size: 13px;
      line-height: 16px;
    }
  }

  &--third {
    color: variables.$color-black-russian;
    padding: 14px;
    font-size: 15px;
    line-height: 20px;
    background-color: variables.$color-white;

    @include vp-1023 {
      padding: 12px;
      font-size: 13px;
      line-height: 16px;
    }
  }

  &--fourth {
    color: variables.$color-black-russian;
    background-color: variables.$color-solitude-1;
  }

  &--fifth {
    color: variables.$color-black-russian;
    background-color: transparent;

  
  }

  &--sixth {
    padding: 12px;
    font-size: 13px;
    line-height: 16px;
  }
}
