@use "../global/variables";
@use "../global/mixins" as *;

.header {
  padding: 16px 0 20px 0;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo-link {
    display: flex;
    margin-right: auto;
  }

  &__box {
    display: flex;
    align-items: center;
    margin: 0 24px 0 0;
    border: 1px solid variables.$color-hawkes-blue;
    border-radius: 12px;
    column-gap: 20px;
    padding: 5px;

    @include vp-1023 {
      border: none;
    }
  }

  &__btn {
    width: 128px;

 
  }

  &__language-link {
    outline: none;
    display: flex;
    align-items: center;
    column-gap: 12px;
    border: 1px solid variables.$color-hawkes-blue;
    border-radius: 12px;
    padding: 17px 22px 17px 21px;

    @include vp-1023 {
      display: none;
    }
  }

  &__btn--active{
    display: none;
  }

 
}
