.header {
  padding: 10px 0;
  background: linear-gradient(153.06deg, #1E3B70 -0.31%, #29539B 99.69%);
  color: $color-white;

  @include vp-767 {
    padding: 10px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__logo-link {
    width: 60px;
    height: 60px;

    &:hover,
    &:focus-visible {
      opacity: 0.8;
    }

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }

  &__logo-icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    @include vp-1023 {
      display: none;
    }
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $color-white;

    &:hover,
    &:focus-visible {
      opacity: 0.8;
    }
  }

  &__btn-wrapper {
    display: flex;
    gap: 24px;

    @include vp-1023 {
      gap: 20px;
    }
  }
  
  &__burger {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus-visible {
      opacity: 0.8;
    }

    @include vp-1023 {
      display: flex;
    }
  }

  &__search,
  &__location {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus-visible {
      opacity: 0.8;
    }
  }
}
