.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1023 {
    gap: 40px 28px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 32px ;
  }

  &__item {
    display: flex;

    &--size-xl {
      grid-column: 1 / -1;

      @include vp-767 {
        grid-column: initial;
        
        
      }
    }
  }
}
