.header {
  background-image: linear-gradient(90deg, $color-free-speech-blue 0%, $color-portage 100%);

  &__top {
    padding: 12px 0;
    border-bottom: 1px solid $color-white-alpha-20;

    @include vp-1023 {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__link {
    display: block;
    color: $color-white;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;

    &:hover {
      color: $color-white-alpha-50;
    }

    &:focus-visible {
      color: $color-white-alpha-50;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 19px 0;
    align-items: center;

    @include vp-1023 {
      padding: 13px 0;
    }

    @include vp-767 {
      padding: 15px 0;
    }
  }



  &__logo {

    flex-shrink: 0;

    @include vp-1023 {
      width: 36px;
      height: 36px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;

  }

  &__button {
    outline: none;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background: $color-bunting;
    color: $color-white;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;

    &:hover {
      background: $color-blue-zodiac;
    }

    &:focus-visible {
      background: $color-blue-zodiac;
    }

    &[disabled] {
      cursor: default;
      color: $color-manatee;
      background-color: $color-white-smoke;
    }

    &--qr {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      padding: 0;
      cursor: pointer;
    }
    @include vp-767 {
      display: none;
    }
  }

  &__button--burger {
    display: none;

    @include vp-1023 {
      display: block;
      background: none;
      padding: 0 0 0 16px ;
    }    
  }

}
