*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  color: $color-black-russian;
  margin: 0;
  padding: 0;
  background-color: $color-white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  object-fit: cover;
  height: auto;
}

a {
  color: $color-black-russian;
  text-decoration: none;
}
