// Colors

$color-white:          #ffffff;
$color-black:          #000000;
$color-black-russian:  #1e222e;
$color-storm-grey:     #696e82;
$color-storm-grey-1:   #83858c;
$color-solitude:       #eff3f9;
$color-endeavour:      #29539b;

$color-endeavour-50: rgba(41, 83, 155, 0.5);
// Typography

$ff-roboto: "Roboto", "Arial", sans-serif;
$ff-noto-sans: "NotoSans", "Arial", sans-serif;
$ff-ibm-plex: "IBMPlexSans", "Arial", sans-serif;

// Viewport

$vp-desktoop-s: 1100px;
$vp-tablet: 1023px;
$vp-mobile: 767px;
$vp-mobile-s: 374px;
