@use "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: variables.$ff-main;
  margin: 0;
  padding: 0;
  color: variables.$color-black-russian;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}